/* Typography */

html {
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 576px) {
    html {
        font-size: 22px;
    }
    #externa {
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 22px;
    }
    #externa {
        margin-right: 50px;
        margin-left: 50px;
    }
}

@media (min-width: 990px) {
    html {
        font-size: 22px;
    }
    #externa {
        margin-right: 100px;
        margin-left: 100px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 22px;
    }
    #externa {
        margin-right: 250px;
        margin-left: 250px;
    }
}
@media (min-width: 1500px) {
    html {
        font-size: 22px;
    }
    #externa {
        margin-right: 500px;
        margin-left: 500px;
    }
}

.icons-social i {
    font-size: 3em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    text-align: center;
}

main > .intro {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.0em;
    margin-bottom: 40px;
}

main > .me {
    font-size: 0.8rem;
    margin: 0.8rem 0;
    font-weight: 100;
}

.box div {
    width: 100px;
    height: 100px;
  }

  #externa {
    display: flex;
    justify-content: center;
}

.tagline {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    letter-spacing: .01em;
    line-height: 1.5em;
    width: 600px;
    height: 300px;
    align-self: center;
    padding-top: 280px;
}

.box {
    align-self: stretch;
}

.icones {
    display: flex;
    justify-content: space-around;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px; 
    margin: 0.8rem 0;
    font-weight: 100; 
    font-size: 40px;
}

.center-icones {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 1200px) {
    .icones {
        padding-left: 150px;
        padding-right: 150px;
    }
}

@media (min-width: 300px) {
    .icones {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 200px) {
    .icones {
        padding-left: 5px;
        padding-right: 5px;
    }
}


.icones a {
	color: #1C1E26;
    padding-left: 10px; 
    padding-right: 10px; 
}

.icones a svg path {
	fill: #ffffff;
}
